*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a80000;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: #a80000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header a {
    color: #a80000;
    text-decoration: none;
    font-weight: bold;
}

nav {
    background-color: #d40000;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 130px;
    left: 0;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #ff4d4d;
}


main {
    margin-left: 220px;
    padding: 40px 60px;
    background-color: #a80000;
}

.conteudo h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.conteudo h3 {
    font-size: 20px;
    margin: 25px 0 5px;
}

.conteudo p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.imagens-distintivos {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

.imagens-distintivos img {
    width: 230px;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
}
